<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personService" init-method="init" destroy-method="destroy" class="com.demo.spring.PersonService">
        <property name="name" value="sjt"></property>
    </bean>

    <!--配置自己的后置处理器，优点类似filter-->
    <bean id="myBeanPostProcessor" class="com.demo.spring.MyBeanPostProcessor">
    </bean>
</beans>